
@model Akaibu_Project.Entions.Users
@*
@model AccountModel
*@

@{
    ViewData["Title"] = "Account";
}

<div class="text-center">
    <h1 class="display-4">This is your account.</h1>
    <p>Here you can browse your data.</p>


    @*

    @if (Model != null)
    {
        @foreach (var obj in Model.users)
        {
                            <b>Account Id:@obj.Id </b>
                            <b>Account Nick:@obj.Nick </b>
                            <b>Account Login:@obj.Login </b>
                            <b>Account Password:@obj.Password </b>
                            <b>Account Ranks:@obj.Ranks </b>
        }




    }

    *@


    @if (Model != null)
    {
            <p><b>Account Id: @Model.Id </b></p>
            <p><b>Account Nick: @Model.Nick </b></p>
            <p><b>Account Login: @Model.Login </b></p>
            <p><b>Account Password: @Model.Password </b></p>
            <p><b>Account Ranks: @Model.Ranks </b></p>

    }
    else
    {
                <p> <b>Account Id:      </b> 0     </p>
                <p> <b>Account Nick:    </b> user0 </p>
                <p> <b>Account Login:   </b> null  </p>
                <p> <b>Account Password:</b> nulll </p>
                <p> <b>Account Rank:    </b> Guest </p>
    }



</div>
