
@model Akaibu_Project.Entions.Users
@*
@model AccountModel
*@

@{
    ViewData["Title"] = "Account";
}

<div class="text-center">
    <h1 class="display-4">This is your account.</h1>
    <p>Here you can browse your data.</p>

    
    @if (Model != null)
    {
        <p><b>Account Id: @Model.Id </b></p>
        <p><b>Account Nick: @Model.Nick </b></p>
        <p><b>Account Login: @Model.Login </b></p>
        <p><b>Account Password: @Model.Password </b></p>
        <p><b>Account Ranks: @Model.Ranks </b></p>
    }


   
</div>
