@using Akaibu_Project.Entions
@model Akaibu_Project.Entions.DBAnime

@{
    ViewData["Title"] = "Anime Details";
}

<style>
    #dit1button {
        background-color: #BA7F79;
        color: #000;
    }

    #dit2button {
        background-color: #E19D80;
        color: #000;
    }

    #dit3button {
        background-color: #D4A6A3;
        color: #000;
    }
</style>

<h2>Anime Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Author
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt class="col-sm-2">
            Number of Episodes
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfEpisodes)
        </dd>

        <dt class="col-sm-2">
            Short Story
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortStory)
        </dd>

        <dt class="col-sm-2">
            Tag
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt class="col-sm-2">
            Date of Production Start
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfProductionStart)
        </dd>

        <dt class="col-sm-2">
            Date of Production Finish
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfProductionFinish)
        </dd>

        <dt class="col-sm-2">
            Status Anime
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusAnime)
        </dd>
    </dl>
    @if (ViewContext.HttpContext.Session.GetObject<Users>("LoggedUser")?.isLogged == true)
    {
        
            <form method="post" action="@Url.Action("AddToFinishedList", "Home")">
                @Html.HiddenFor(model => model.Id)
            <button id="dit1button" style=" border-radius: 7px; type="submit">Add to Finished List</button>
            </form>
        <br>

            <form method="post" action="@Url.Action("AddToCurrentlyWatchedList", "Home")">
                @Html.HiddenFor(model => model.Id)
            <button id="dit2button" style=" border-radius: 7px; type="submit">Add to Currently Watched List</button>
            </form>
        <br>

            <form method="post" action="@Url.Action("AddToPlannedList", "Home")">
                @Html.HiddenFor(model => model.Id)
            <button id="dit3button" style=" border-radius: 7px; type="submit">Add to Planned List</button>
            </form>
        }
        </div>
